
extends ../layout

block content

	br
	.col-md-5
		form(method="post", action="/stores/update").form-horizontal
			input(name="store_id", type="hidden", value="#{store._id}")
			.form-group
				label.col-md-4 name
				.col-md-8
					input(name="store[name]", type="text" , value="#{store.name}").form-control.input-sm.required
			.form-group
				label.col-md-4 email
				.col-md-8
					input(name="store[email]", type="text", value="#{store.email}").form-control.input-sm.required
			.form-group
				label.col-md-4 country
				.col-md-8
					input(type='text', value='#{franchisor.country.name}' disabled).form-control.input-sm
			.form-group
				label.col-md-4 franchisor
				.col-md-8
					input(type='text', value='#{franchisor.name}' disabled).form-control.input-sm
					
			.form-group
				label.col-md-4 about
				.col-md-8
					input(name="store[about]", type="text" , value="#{store.about}").form-control.input-sm.required
			

			.form-group
				button(type="submit" id="submit_btn").btn.btn-default Save