// my-template.jade
extends ../layout

//Bloque de contenido.
block content
	.col-md-8
		h3 Datos del comercio	
		a(href="/stores/list") Lista de comercio
		br
		br
		a(href="/stores/edit/" + '#{store._id}' ).btn.btn-default 
			span.glyphicon.glyphicon-pencil
		a(href="/stores/add_image/" + '#{store._id}' ).btn.btn-default Agregar Imagen
		a(href="/stores/assign_partner/" + '#{store._id}' ).btn.btn-default Seleccionar Usuario
		a(data-toggle="modal", href="#myModal").btn.btn-default  Comisiones 				
		br
		br
		table.table
			tr
				td
					| Name:
				td
					| #{store.name}
			tr
				td
					| Sobre el negocio:
				td
					| #{store.about}
			tr
				td
					| Email:
				td
					| #{store.email}
		#myModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
			.modal-header
				button(class="close", data-dismiss="modal", aria-hidden="true") &times
				h4 Comisiones
			.modal-body
		-var route_name = "stores"
		-var get_id = store._id
		include ../includes/image_upload
		-for (var i = store.images.length - 1; i >= 0; i--)
			-var image = store.images[i]
			-var param ="stores"
			include ../partials/store/image_list



