.header_conteiner
	.header
		a(href="/")
			img(class='fleft', src="/img/logo_giombu.png")
		#menu_top.fright
			ul
			if typeof user === "undefined"
				li(class='fright space')
					img(class='space', src='/img/icon_suscribir.png')
					a(href='#subscription', role='button', data-toggle='modal') Suscríbete
				li(class='fright space')
					img(class='space', src='/img/icon_crear_cuenta.png')
					a(href="/users/register") Registrate
				li(class='fright space')
					img(class='space',src='/img/icon_login_person.png')
					a(href='#myModal', role='button', data-toggle='modal') Accede       
			else
				if typeof user.username === "undefined"
					li(class='fright space')
						img(class='space', src='/img/icon_suscribir.png')
						a(href='#subscription', role='button', data-toggle='modal') Suscríbete
					li(class='fright space')
						span |
						img(class='space', src='/img/icon_crear_cuenta.png')
						a(href="/users/register") Registrate
					li(class='fright space')
						span |
						img(class='space', src='/img/icon_login_person.png')
						a(href='#myModal', role='button', data-toggle='modal') Accede
				else
					li(class='fright space')
						img(class='space', src='/img/icon_suscribir.png')
						a(href='#subscription', role='button', data-toggle='modal') Suscríbete
					li(class='fright space')
						span |
						img(class='space', src='/img/icon_login_person.png')
						a(href="/users/dashboard" ) #{user.name}
					li(class='fright space')
						span |
						img(class='space', src='/img/icon_logout.png')
						a(href="/users/logout") Salir
					//.selected_franchise
					//	a(href="/intranet/deals/list/#{user.selected_franchise}") #{user.selected_franchise}
			if(typeof messagge === "undefined")
				p
			else
				p #{messagge}
	.franchise_select
		div(class='panel-group', id='accordion')
			div(class='panel panel-default')
				div(class='panel-heading')
					h3.panel-heading
					-if(typeof user !== "undefined")
						-if(typeof user.selected_franchise === "undefined")
							a(data-toggle='collapse', data-parent='#accordion', href='·#collapseOne') Cambiar de ciudad
								icon.icon-chevron-down						
						-else
							a(class='accordion-toggle', data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") #{user.selected_franchise.name} 
								icon.icon-chevron-down
					-else
						a(class='accordion-toggle', data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") Cambiar de cuidad 
							icon.icon-chevron-down
					div(id='collapseOne',class='panel-collapse collapse in')				
	.menu(class='nav-pills clear')
		ul.nav.nav-pills
			li.active
				a(href='/deals/home') Ofertas de hoy
			li 
				a(href='/deals/travel') Descuentos en viajes