#header
	a(href="/")
		img(src="/img/logo_giombu.png")
	.pull-right
		include form_suscription
	nav(role="navigation").navbar.navbar-default
		.container-fluid
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-left
					-if((typeof expose.user) !== "undefined")
						-if(typeof expose.user.selected_franchise === "undefined")
							li
								a(class='accordion-toggle', data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") Cambiar de cuidad 
									icon.icon-chevron-down
						-else
							li
								a(class='accordion-toggle', data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") #{expose.user.selected_franchise.name} 
									icon.icon-chevron-down
					-else
						li
							a(class='accordion-toggle', data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") Cambiar de cuidad 
								icon.icon-chevron-down
				ul.nav.navbar-nav
					li
						a(href='/deals/home') Ofertas de hoy
					li 
						a(href='/deals/travel') Descuentos en viajes	
				ul.nav.navbar-nav.navbar-right
					-if ((typeof expose.user) === "undefined")
						li
							a(href="/users/create")
								span.glyphicon.glyphicon-plus.col-md-pull-1
								|Registrate
						li
							a(href='#myModal', role='button', data-toggle='modal')
								span.glyphicon.glyphicon.glyphicon-log-in.col-md-pull-1
								|Accede
					-else
						li
							a(href="/users/#{expose.user._id}" ) 
								span.glyphicon.glyphicon-user.col-md-pull-1
								|#{expose.user.name}
						li
							a(href="/users/logout" ) 
								span.glyphicon.glyphicon-log-out.col-md-pull-1
								|Salir
						//.selected_franchise
						//	a(href="/intranet/deals/list/#{user.selected_franchise}") #{user.selected_franchise}
	.notification-message
		-if(typeof message === "undefined")
			p
		-else
			p #{message}

