#header
	a(href="/")
		img(class='fleft', src="/img/logo_giombu.png")
	nav(role="navigation").navbar.navbar-default
		.container-fluid
			.collapse.navbar-collapse

				ul.nav.navbar-nav.navbar-left
					-if((typeof user) !== "undefined")
						-if(typeof user.selected_franchise === "undefined")
							li
								a(class='accordion-toggle', data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") Cambiar de cuidad 
									icon.icon-chevron-down
						-else
							li
								a(class='accordion-toggle', data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") #{user.selected_franchise.name} 
									icon.icon-chevron-down
					-else
						li
							a(class='accordion-toggle', data-toggle="collapse", data-parent="#accordion2", href="#collapseOne") Cambiar de cuidad 
								icon.icon-chevron-down
				ul.nav.navbar-nav
					li
						a(href='/deals/home') Ofertas de hoy
					li 
						a(href='/deals/travel') Descuentos en viajes	
				ul.nav.navbar-nav.navbar-right
					-if ((typeof user) === "undefined")
						li
							a(href='#subscription', role='button', data-toggle='modal')
								span.glyphicon.glyphicon-envelope.col-md-pull-1
								|Suscríbete

						li
							a(href="/users/register")
								span.glyphicon.glyphicon-plus.col-md-pull-1
								|Registrate
						li
							a(href='#myModal', role='button', data-toggle='modal')
								span.glyphicon.glyphicon.glyphicon-log-in.col-md-pull-1
								|Accede
					-else
						li
							a(href='#subscription', role='button', data-toggle='modal')
								span.glyphicon.glyphicon-envelope.col-md-pull-1
								|Suscríbete
						li
							a(href="/users/dashboard" ) 
								span.glyphicon.glyphicon-user.col-md-pull-1
								|#{user.name}
						li
							a(href="/users/logout" ) 
								span.glyphicon.glyphicon-log-out.col-md-pull-1
								|Salir
						//.selected_franchise
						//	a(href="/intranet/deals/list/#{user.selected_franchise}") #{user.selected_franchise}
	.notification-message
		-if(typeof messagge === "undefined")
			p
		-else
			p #{messagge}
