extends ../layout

block content
	h3 Suscriptores
	table.table
		-each item in subscribers
			tr
				td.well
					h5 #{item.name} | #{item.email}
						p
							a(href="subscribers/erase_subscriber/#{item.email}/#{franchise}") Borrar Suscripción a franquicia activa
							|
							a(href="subscribers/erase_subscriber/#{item.email}") Borrar Todas las suscripciones
					
					