extends ../layout

//Bloque de contenido.
block content
	div(class='contenedor')
	h3 Editar mi perfil
	.form_edit_profile
		form(method='post',id="users_edit", action='/users/update/')
			input(name='user[_id]', type="hidden", , value='#{user._id}')
			label Nombre de Usuario:
				input(name='user[username]', type='text', value='#{user.username}' ,class="required") 
			label Nombre completo:
				input(name='user[name]', type='text', value='#{user.name}' ,class="required") 
			label Apellido(s):
				input(name='user[lname]', type='text', value='#{user.lname}' ,class="required") 
			label Email:
				input(name='user[email]', type='text', value='#{user.email}'  ,class="required email") 
			label Phone:
				input(name='user[phone]', type='text', value='#{user.phone}')
			label Cell Phone:
				input(name='user[mobile]', type='text', value='#{user.mobile}') 
			label Direccion: 
				input(name='user[address]', type='text', value='#{user.address}') 
			label Pais:
				input(name='user[country]', type='text', value='#{user.country}') 
			label Provincia:
				input(name='user[state]', type='text', value='#{user.state}')
			label Ciudad:
				input(name='user[city]', type='text', value='#{user.city}' ,class="required")
			label Zip:
				input(name='user[zip]', type='text', value='#{user.zip}') 
			br
			input.enviar(name='submit', type='submit')
			hr