// my-template.jade
extends ../home

block content
	.buy_login
		if(typeof expose.user === "undefined")
			h4 ¿Estas Resgistrado?	
			form(method='post', action='/users/login/')
				label Usuario
				input(name='username', type='text', class="required")
				label Contraseña
				input(name='password', type='password', class="required") 
				br
				button.btn.btn-primary(name='submit', type='submit') Ingresar
				br
			.buy_register
				h4 Nuevo Usuario
				br
				.new_user_left
					h5 1) Direccion
					form(method='post', id="users_register", action='/users/save').form-horizontal
						table 
							tr
								td 
									label Nombre de Usuario
								td 
									input(name='username', type='text', class='required') 
							tr
								td
									label Nombres
								td
									input(name='name', type='text' ,class="required") 
							tr 
								td 
									label Apellido(s)
								td
									input(name='lname', type='text' ,class="required") 
							tr 
								td
									label Email
								td 
									input(name='email', type='text' ,class="required email") 
							tr 
								td
									label Contraseña
								td 
									input(name='password', type='password') 
							tr
								td
									label Confirmar contraseña
								td
									input(name='confirm_password', type='password') 
							tr
								td
									label Fecha de nacimiento
								td
									input(name='birthday', type='date') 
							tr
								td
									label Genero
								td 
									select
										option(value='m') Masculino
										option(value='f') Femenino
							tr 
								td
									label Phone
								td
									input(name='phone', type='text')
							tr 
								td
									label Cell Phone
								td 
									input(name='mobile', type='text')
							tr 
								td 
									label Direccion 
								td
									input(name='address', type='text') 
							tr 
								td 
									label Pais
								td 
									select(name='country', type='text' ,class="required")
										option( value="argentina") Argentina
							tr 
								td
									label Provincia
								td 
									select(name='state', type='text' ,class="required")
										option( value="entrerios") Entre Rios
							tr 
								td 
									label Ciudad
								td
									select(name='city', type='text' ,class="required")
										option( value="parana") Parana
							tr 
								td 
									label Zip
								td 
									input(name='zip', type='text') 
							tr 
								td 
									label Nombre de Usuario Que te Invito 
								td 
									input(type='text', name="inviter",placeholder="Usuario" ,class="users_input typeahead" , data-provide="typeahead", data-items="4")
		else
			form(action="/sales/buy",id="buy_form", method="post")
				input(type="hidden", value="#{deal._id}", name="id")
				h4 Tu compra
				include ../partials/sale/checkout
				.forma_pago 
					h4 Forma de pago
					br
					table 
						tr 
							td.forma_pago_label Medio de pago:
							td 
								select(type="text", name="payment_type")
									optgroup( label="Tarjeta de Crédito") 
										option(value="mastercard") Mastercard
										option(value="visa") Visa
										option(value="cabal") Cabal
										option(value="argencard") Argencard
									optgroup( label="Otras formas de pago")
						tr
							td.forma_pago_label Nro. Tarjeta:
							td
								input(type="text", name="card_number", maxlength="16" , class="input-large", size="16")
						tr
							td.forma_pago_label Cod. Seguridad:
							td
								input(type="text", name="card_safety_numbers", maxlength="3", class="input-small", size="3")
						tr
							td.forma_pago_label Nombre Completo:
							td 
								input(type="text", name="complete_name", class="input-large")
						tr 
							td.forma_pago_label DNI:
							td 
								input(type="text", name="dni" , maxlength="16" , class="input-large" , size="16")
						tr 
							td
							td
								input(type='submit', class="btn pull-right", value='Confirmar Compra')

//				.content
//					.div_left
//
//						p #{deal.tagline}
//						p Fecha de canje #{deal.start_redeem} Hasta #{deal.end_redeem}
//					form(method='post', action='/sales/buy/#{deal._id}')
//						table
//							tr
//								td.quantity Unidades
//									select(name='quantity') 
//										each item in list
//											option(value='#{item}') #{item}
//	
//								td.Precio_Giombu Precio Giombu
//									$ #{deal.special_price}
//								td.Total Total
//									span.total-of-sale
//								

										
				
