div(id="carousel#{id}", class="carousel slide", data-ride="carousel")
	ol(class="carousel-indicators")
		-for (var i = images.length - 1; i >= 0; i--)
			-if (i == 0)
				li( data-target="#carousel#{id}", data-slide-to="#{i}", class="active")
			-else
				li( data-target="#carousel#{id}", data-slide-to="#{i}")
	.carousel-inner
		-for (var i = images.length - 1; i >= 0; i--)
			-var image = images[i]
			-if (i == 0)
				.item.active
					img(src="/photos/#{param}/#{image.filename}" , alt="#{image.filename}")
			-else
				.item
					img(src="/photos/#{param}/#{image.filename}" , alt="#{image.filename}")
				.carousel-caption
	a(class="left carousel-control", href="#carousel#{id}", data-slide="prev")
		span(class="glyphicon glyphicon-chevron-left")
	a(class="right carousel-control", href="#carousel#{id}", data-slide="next")
		span(class="glyphicon glyphicon-chevron-right")