// my-template.jade
extends ../layout

block content
	.content
		.well.question
			.thumbnail
				img( src="/images/243_large_f4415b921f7e566042424fb70b1ba3a4.jpeg")
			.caption
				h3 #{deal.title}
				p #{deal.tagline}
				p Fecha de canje #{deal.start_redeem} Hasta #{deal.end_redeem}

		-if ((typeof questions === "undefined"))
			p No se han encontrado preguntas
		-else
			-each question in questions
				br
				.question
					.thumbnail.span1
						img(src="/images/mr_bean.jpg")
					.questions
						p  #{question.user.username}: #{question.question}
					.responses
						-if ((typeof question.answer === "undefined"))
							form(method='post', action='/questions/answer/#{question._id}')
								input(name='answer' class="required") 
								input(type='submit', class="pull-right", value='Responder')
						-else
							p #{question.partner.username}: #{question.answer}
						-if ((typeof question.answer_admin === "undefined"))
							form(method='post', action='/questions/admin_answer/#{question._id}')
								input(name='answer_admin' class="required") 
								input(type='submit', class="pull-right", value='Responder')
						-else
							p Giombu: #{question.answer_admin}
				hr
		.well
			form(method='post', action='/questions/add/#{deal._id}')
				table
					tr
						td Pregunta:
						td 
							input(name='question') 
					tr
						td
							input(type='submit', class="pull-right", value='Enviar')
				
